*{
    margin: 0%;
    padding: 0%;

}
.container{
    width: 100%;
   background-color: pink;
   text-align: center;
   width: 80%;
   margin: 20px;
 
}
.title{

display: flex;
flex-direction: column;
font-size: 30px;
color:blue;
line-height: 2.5rem;
margin-bottom: 50px;
}
.Delicious{
    display: flex;
    flex-direction: column;
    line-height: 2.0rem;
}
.span1{
    color: red;
}
.span2{
    color:blue;
}
.taste{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    width: 20%;
    padding: 15px;
    border-radius: 100px;
    box-shadow: 5px 5px 5px 5px white;
}
.about{
    display: flex;
 text-align: center;
 justify-content: space-between;
 font-size: 24px;
 margin-bottom: 50px;
 margin: 70px;
}
.services{
    display: flex;
   text-align: center;

}
.cake{
    width: 100%;
}
.cake img{
    width: 100%;
    border-radius: 100%;
}
.baker{
    width: 100%;
}
.baker img{
    width: 40%;
    border-radius: 100%;
    box-shadow: 10px 10px 10px 10px white;
    
}
.cake-types li{
    
    text-align: justify;
    margin: 20px;
    font-size: 20px;
}
.images1{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.images1 img{
    width: 90%;
    border-radius: 100%;

}
.images2{
    display: flex;
    flex-direction: row;
   gap: 20px;
   text-align: center;
}
.images2 img{
    width: 90%;
    border-radius: 100%;
}